h1{
    color: rgb(77, 77, 77);
    text-align: center;
    font-size: 82px ;
    border: 10px ;
    font-family: "Comic Sans MS"cursive sans-serif'
}

img{
    width: 400px ;

}

nav ul li{
    display: block;
    font-size: 32px ;
    color:grey ;
    border: 2px ;
    text-align: center;
    
}
article p{
    color: black;
    font-size: 55px ;
    text-align: center;
}

article{
    text-align: center;
    font-size: 40px ;}


    footer p{
        text-align: center;
        font-size: 30px ;
        color: rgb(73, 73, 73);
    }

    script{
        text-align: center;
        font-size: 40px ;
        color: aquamarine;
    }